:root {
  --white: #ffffff;
  --black: #262626;
  --blue: #5887ff;
  --blue-hover: #3970fc;
  --stroke: #ededed;
  --grey: #909090;
  --red: #de2910;
  --bg: #f3f3f3;
  --bg-card: #eff4ff;
  --yellow: #fbbc38;

  --base-ff: 'Inter';
}
