@media (max-width: 767px) {
  .footer {
    position: relative;
    overflow: hidden;
    &__head {
      flex-direction: column-reverse;
      &-menu {
        width: 100%;
      }
      &-search {
        width: 100%;
        margin-bottom: 20px;
      }
      &-logo {
        width: 100%;
        margin-bottom: 10px;
      }
    }
    &-logo {
      font-size: 12px;
      line-height: 16px;
      padding: 14px 40px;
      width: fit-content;
      height: auto;
    }
    &-menu {
      font-size: 12px;
      line-height: 16px;
      margin-right: -20px;
      margin-bottom: -10px;
      &__item {
        margin-right: 20px;
        margin-bottom: 10px;
      }
    }
    &-bottom {
      &__inner {
        flex-direction: column-reverse;
        align-items: flex-start;
      }
    }
    &-links {
      &__inner {
        flex-direction: column;
        &-item {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
    }
    &__cities {
      margin-left: -10px;
      margin-right: -10px;
      &-col {
        padding-left: 10px;
        padding-right: 10px;
        width: calc(100% / 3);
        &:nth-child(n + 4) {
          display: none;
        }
      }
    }
    &-city {
      font-size: 12px;
      line-height: 16px;
    }
    &-info {
      &__inner {
        &-right {
          display: none;
        }
        &-left {
          width: 100%;
          padding-right: 0;
        }
      }
      &__group {
        flex-wrap: wrap;
        &-col {
          width: 100%;
          margin-bottom: 10px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      &__txt {
        color: rgba(38, 38, 38, 0.5);
        font-size: 11px;
        line-height: 15px;
      }
    }
  }
}

@media (max-width: 480px) {
  .footer {
    &__cities {
      &-col {
        width: 50%;
        &:nth-child(n + 3) {
          display: none;
        }
      }
    }
  }
}
